{
  "env": {
    "browser": false,
    "node": true
  },
  "extends": [
    "node"
  ],
  "rules": {
    "import/no-commonjs": "off",
    "import/no-nodejs-modules": "off",
    "no-console": "warn",
    "no-unused-vars": "warn"
  }
}